syntax: glob

#Files Extensions
*.orig
*.exclude
*.rej
*.SCC

# Folders
[Bb]in/
obj/
TEMP/
logs/
files/
packages/
[Cc]ompile/
.vs/
.idea/
.vscode/
.config/
Properties/


#Visual Studio IDE Files
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo